
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#gameContainer{
  position: relative;
}

#gameContainer>canvas{
  position: absolute;
  margin-top: 100px;
  left: 0px;
}

#background {
  background: #000000;
  z-index: -2;
  visibility: visible;
}

#players {
  background: transparent;
  z-index: -1;
}