
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#gameContainer{
  position: relative;
  margin: 0 auto;
  width: 500px;
  height: 500px;
}

#gameContainer > canvas{
  position: absolute;
  left: 0px;
  top: 0px;
}

#tails {
  background: #000000;
  z-index: -1;
  visibility: visible;
}

#players {
  background: transparent;
  z-index: -0;
}

#powerups {
  background: transparent;
  z-index: -0;
}